:root {
    --footer-background: #0000008A;
    --footer-content: #70757A;
    --main-content: #3C4043;
    --main-btn: #F8F9FA;
    --main-btn-color: #3c4043;
    --nav-btn: #1A73E8; 
}

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}


/*  Header  */


/* Estilização dos links do nav */

.nav-content {
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 14px;
    padding-right: 10px;
}

.nav-content .nav-links {
    padding: 4px;
    font-size: 13px;
    padding-right: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav-content .nav-links:hover {
    text-decoration: underline #000;
}


/* Estilização do icone de apps do nav */

.nav-content .apps {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content .apps .nav-img {
    width: 24px;
    height: 24px;
    margin: 12px;
    color: gray;
    cursor: pointer;
}

.nav-content .apps:hover {
    background: gainsboro;
    border-radius: 50%;
}


/* Estilização do botão do nav */

.nav-content .menu-btn .nav-btn {
    background: var(--nav-btn);
    color: #fff;
    font-size: 14px;
    letter-spacing: .25px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 8px;
    padding: 9px 23px;
    cursor: pointer;
}

.nav-content .menu-btn .nav-btn:hover {
    background: radial-gradient(circle, #4387fd, #4683ea);
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 5px 8px 0;
}

.logo {
    object-fit: contain;
    width: 40%;
    height: 92px;
    margin-top: 20px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    height: 45px;
    max-width: 600px;
    width: 75vw;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 30px;
    outline: none;
}

.search-input:hover {
    box-shadow: 0 0 5px lightgray;
}

.search-input input {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-input .material-icons, 
img {
    color: gray;
    cursor: pointer;
}

.search-input .material-icons:last-child {
    padding-left: 15px;
}

.search-btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-btns .main-btn {
    margin: 5px;
    padding: 10px 15px;
    background-color: var(--main-btn);
    color: var(--main-btn-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btns .main-btn:hover {
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
}


/* Footer */

.footer {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-height: 100px;  /* Chamar atenção */
    bottom: 0;
    background: #f2f2f2;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-section:not(:first-child) {
    border-top: 1px solid #e4e4e4;
  }

  .footer-location {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--footer-content);
    padding: 15px 25px;
  }

  .footer-links {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
  }

  .footer-links a {
      text-decoration: none;
      color: var(--footer-content);
      padding: 0 14px;
  }

  .footer-links a:hover {
    text-decoration: underline #000;
}
